/*Global*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

/**/

.navbar {
    background-color: #652d82;
    color: #fff;
}

.navbar-nav {
    display: inline-block;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-brand i {
    color: #fff;
}
		
.my{

font-family: Droid Arabic Kufi;
text-align: center;
font-size: 20px;
color: black;
 margin-top: 10px;

}
.kr{

	font-family: Unikurd Goran;
	text-align: right;
	font-size: 15px;
	margin: 10px 20px 20px 20px;

}

.myDiv {
 
  background-color: white;
  text-align: right;
  margin: 10px 20px 20px 20px;
}
